* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MEDIDA DE LETRAS */

.btn-wsp{
    position: fixed;
    margin-bottom: 5px;
    width: 70px;
    height: 70px;
    line-height: 55px;
    bottom: 30px;
    right: 25px;
    background: green;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
    
}
.btn-wsp:hover{
    text-decoration: none;
    color: green;
    background:white ;
}

h1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #fd1532;
    font-family: 'Creepster', cursive;
    font-size: 5rem;
    letter-spacing: 10px;
    text-align: center;
    padding-top: 30px;
    animation-duration: 0.5s;
    animation-name: aparecer;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    text-shadow: 5px 5px 5px rgb(187, 255, 0);

    @keyframes aparecer {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }

    }

}

h2 {
    color: black;
    font-family: 'Rampart One', cursive;
    text-shadow: 5px 5px 5px rgb(53, 53, 53);
    text-align: center;
}

h3 {
    color: black;
    font-family: 'Monoton', cursive;
    text-shadow: 5px 5px 5px rgb(158, 151, 151);
    text-align: center;
    margin-top: 10%;
}



/* HEADER */

a {
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color: black;
}


header {
    display: flex;
    justify-content: space-evenly;
    /* background-image: linear-gradient(to left, red, blue); */
    background-color: rgb(60, 170, 152) ;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 100%;

    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 100%;
    }

    .menuH {
        width: 100%;
        height: 100%;

    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0 80px;

    }

    ul {
        margin-right: 30px;
        transition: transform(1s);
    }

    ul :hover {
        transform: translate(0.5em);
    }

    nav a:hover {
        color: green
    }

    ul li {

        position: relative;
        margin: 3%;
        margin-top: 10%;
    }


    ul ul {
        position: absolute;
        color: white;
        display: none;
    }

    ul ul li a {
        font-size: 1rem;
        color: white;
        transition: none;
    }

    ul li:hover ul {
        color: white;
        display: inline-block;
    }
}

.nav-link{
    color: white;
}

@media only screen and (max-width:800px) {
    header {
        background-color: rgb(60, 170, 152);
    }

    .menu {
        display: flex;
        flex-direction: column;
    }

    h1 {
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: 3rem;
    }
}

/* CUERPO */


body {
    background-color: blanchedalmond;
    margin: 0;
    background-image: cover;
}
/* HOME  */
body{
    height: 100%;
    width: 100%;
}

.tituloVenta{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(201, 200, 200);
}

.venta_consolas{
    h3{
        padding-top: 20px;
        padding-bottom: 30px;
        color: black;
    }
}

.venta_consolas-nintendo{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    .card{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 50px;
        width: 25em;
        margin-bottom: 20px;
        

    }
    
}

.venta_consolas-ps4{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .card{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 100px;
        width: 25em;
        margin-bottom: 20px;
    }
    
}

.venta_consolas-ps5{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .card{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 50px;
        width: 25em;
        margin-bottom: 20px;
    }
}

.venta_consolas-xbox{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .card{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 50px;
        width: 25em;
        margin-bottom: 20px;
    }
}

.venta_juegos{
    h3{
        padding-top: 20px;
        padding-bottom: 30px;
        
    }
    background-image: linear-gradient(rgb(255, 168, 168),white);
    .venta_juegos-NW{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        text-align: center;
        background-image: linear-gradient(rgb(255, 168, 168),white);
        .card{
            display: flex;
            flex-direction: column-reverse;
            padding-top: 50px;
            width: 15em;
            margin-bottom: 20px;
            width: 20em;
            height: 23em;
        }
    }
    .venta_juegos-ps4{
        background-image: linear-gradient(rgb(109, 109, 255),white);
        .card_juegos-ps4{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        text-align: center;
        .card{
            display: flex;
            flex-direction: column-reverse;
            padding-top: 50px;
            margin-bottom: 20px;
            width: 20em;
            height: 29em;
        }

        }
    }
    .venta_juegos-ps5{
        background-image: linear-gradient(rgb(255, 250, 185),white);
        .card_juegos-ps5{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            text-align: center;
        }
        .card{
            display: flex;
            flex-direction: column-reverse;
            padding-top: 50px;
            margin-bottom: 20px;
            width: 20em;
            height: 35em;
        }
    
    }
    
}


.venta_accesorios-gaming{  
    background-image: linear-gradient(rgb(168, 168, 168),white);
    h3{
        padding-top: 20px;
        padding-bottom: 30px;
        
    }
    
    .venta_electronica{
        display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            text-align: center;
            
            .rounded-circle{
                display: flex;
            flex-direction: column-reverse;
            padding-top: 50px;
            margin-bottom: 20px;
            width: 15em;
            height: 20em;
            }
    }

    
}
.venta_electronica .rounded-circle:hover{
    transform: scale(1.2);
            transition: 0.7s;
}

/* FIN HOME */
/*pagina de Nintendo Switch*/

@media only screen and (max-width:800px) {
    h1 {
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: 1rem;
    }

    .portadaNw img {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;

    }

}

.nintendoSwitchPortada {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

    h1 {
        margin: 1%;

    }

    img {
        transform: rotatey(180deg);

    }

    img:hover {
        transform: scale(1);
        transition: 0.7s;
    }

}

.nintendo_venta{
    background-color: rgb(228, 174, 174);
    h3{
        padding-top: 20px;
    }

}
.cardH {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 5%;
    text-align: center;
    

    .card {
        display: flex;
        justify-content: space-evenly;
        margin: 5%;
        
    }

}

/* juegos */

.bodyPs4 {
    height: 100%;
    width: 100%;
}

.menuJuegos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    a{
        display: flex;
        flex-wrap: wrap;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 50%;
        
    }
    a:hover{
        
        transition: 0.7s;
        filter: sepia();
    }
}

.fondoTiendaPs4 {
    background-color: rgb(190, 190, 190);
    padding-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .cardPs4 {
        background-image: linear-gradient(to left, rgb(167, 160, 160), rgb(36, 36, 37));
        width: 90%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        text-align: center;
        padding: 10px;
        .card{
            margin: 10px;

        }
    }
}

.galeriaPs4 {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    justify-content: center;

    .contenedorPs4 {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        grid-auto-rows: 250px;
        padding: 10%;
        width: 100%;
        height: 100%;
        place-content: stretch;


        .contenedorPs4__item {


            background-color: red;
            justify-items: center;
            min-width: 100%;
            min-height: 100%;
            align-content: center;



        }

        .contenedorPs4__item:hover {
            transform: scale(1.2);
            transition: 0.7s;

        }

        .contenedorPs4__item--item1 {
            background-image: url(./galeriaps4/streetfightergaleria.jpg);
            background-position: center;
            background-size: cover;
            grid-column: 1/4;
            grid-row: 1/2;
            height: 20rem;
        }

        .contenedorPs4__item--item2 {
            background-image: url(./galeriaps4/jumpforcegaleria.jpg);
            background-size: cover;
            background-position: center;
            grid-column: 1;
            grid-row: 2;
            grid-row-start: 2;
            grid-row-end: 4;
            grid-column-start: 1;
            grid-column-end: 2;
        }

        .contenedorPs4__item--item3 {
            background-image: url(./galeriaps4/450_1000.jpg);
            background-size: cover;
            background-position: center;
            grid-row: 2/4;
            grid-column: 3/4;

        }

        .contenedorPs4__item--item4 {
            background-image: url(./galeriaps4/logoplay.png);
            background-position: center;
            background-size: cover;
            grid-column: 2;
            grid-row: 2;
        }

        .contenedorPs4__item--item5 {
            background-image: url(./galeriaps4/call.jpg);
            background-position: center;
            background-size: cover;
        }

        .contenedorPs4__item--item6 {
            background-image: url(./galeriaps4/farcryportada.webp);
            background-size: cover;
            background-position: center;
            grid-column: 1/4;
            grid-row: 4/5;
        }
    }



}



/*PAGINA PS5*/

/* @media only screen and (max-width:800px) {
    h1 {
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: 1rem;
    }

    .ps5Portada img {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
    }

    .contenidoPs5 {
        display: flex;
        justify-content: center;



    }

} */
.ps5{
    width: 100%;
    background-color: black;
    .ps5Portada {
        display: flex;
            justify-content: center;
            align-content: center;
            width: 100%;
            img{
                display: flex;
                justify-content: center;
                width: 100%;
            }
        
    
    }

}


.fondoTiendaPs5 {


    flex-wrap: wrap;
    background-color: black;
    padding-top: 10%;

    .contenidoPs5 {
        display: flex;
        flex-direction: column;
        margin: 5%;

        .carruselPs5 {
            margin: 10%;
            background-image: linear-gradient(to left, rgb(167, 160, 160), rgb(186, 216, 54));
            text-align: center;
        }
    }

}
/* --SECCION ---CONSOLAS */
.venta_consolas-all{
    h3{
        padding-top: 20px;
        padding-bottom: 30px;
        color: black;
    }
}

.venta_consolas-nintendo{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    .card{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 50px;
        width: 25em;
        margin-bottom: 20px;
        

    }
    
}

.venta_consolas-ps4{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .card{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 100px;
        width: 25em;
        margin-bottom: 20px;
    }
    
}

.venta_consolas-ps5{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .card{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 50px;
        width: 25em;
        margin-bottom: 20px;
    }
}

.venta_consolas-xbox{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .card{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 50px;
        width: 25em;
        margin-bottom: 20px;
    }
}





/* --FIN --CONSOLAS */

/* --SECCION DE ACCESORIOS-- */



.venta_accesorios{
    background-color: rgb(255, 255, 255);
    padding-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .venta_accesorios-auriculares{
        background-image: linear-gradient(to left, rgb(167, 160, 160), rgb(36, 36, 37));
        width: 90%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        text-align: center;
        padding: 5em;
        margin: 1em;
        
        .card{
            display: flex;
            flex-direction: column;
            padding-top: 50px;
            margin: 20px;
            width: 30%;
            height: 25em;

            
            img{
                height: 10em;
            }
        }
    }
    .venta_accesorios-camaras{
        background-image: linear-gradient(to left, rgb(167, 160, 160), rgb(36, 36, 37));
        width: 90%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        text-align: center;
        padding: 5em;
        margin: 1em;
        
        .card{
            display: flex;
            flex-direction: column;
            padding-top: 50px;
            margin: 20px;
            width: 30em;
            height: 30em;

            
            img{
                height: 15em;
            }
        }
    }
    .venta_accesorios-microfonos{
        background-image: linear-gradient(to left, rgb(167, 160, 160), rgb(36, 36, 37));
        width: 90%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        text-align: center;
        padding: 5em;
        margin: 1em;
        
        .card{
            display: flex;
            flex-direction: column;
            padding-top: 50px;
            margin: 20px;
            width: 35em;
            height: 30em;

            
            img{
                height: 15em;
            }
        }
    }
    .venta_accesorios-mouse{
        background-image: linear-gradient(to left, rgb(167, 160, 160), rgb(36, 36, 37));
        width: 90%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        text-align: center;
        padding: 5em;
        margin: 1em;
        
        .card{
            display: flex;
            flex-direction: column;
            padding-top: 50px;
            margin: 30px;
            width: 30em;
            height: 30em;

            
            img{
                height: 15em;
            }
        }
    }
    .venta_accesorios-parlantes{
        background-image: linear-gradient(to left, rgb(167, 160, 160), rgb(36, 36, 37));
        width: 90%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        text-align: center;
        padding: 5em;
        margin: 1em;
        
        .card{
            display: flex;
            flex-direction: column;
            padding-top: 50px;
            margin: 30px;
            width: 30em;
            height: 30em;

            
            img{
                height: 15em;
            }
            
        }
        
    }
}

.venta_accesorios img:hover{
    
    transform: scale(1.3);
    transition: 0.7s;
    
}










/* --FIN --SECCION DE ACCESORIOS--*/
/*SECTOR DE FOOTER*/
.iconos {
    display: flex;
    justify-content: center;
    flex-direction: center;
    flex-wrap: wrap;
    background-color:none;

    i {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        color: white;
        font-size: 3rem;
        padding: 5%;
        text-shadow: 5px 5px 5px rgb(0, 0, 0);
    }

}



.contenido {
    display: flex;
    flex-direction: column;
    background-color: rgb(60, 170, 152) ;
    background-size: cover;
    justify-content: center;
    text-align: center;
}
hr{
    width: 50%;
    margin:auto;
}


.itemFooter {
    
    h2{color: black;
    font-family: 'Rampart One', cursive;
    text-shadow: 5px 5px 5px rgb(53, 53, 53);
    text-align: center;
    padding: 20px;
    }
    
}

.footer2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;

}
.formularioFooter{
    width: auto;
    h2{
        padding-top: 20px;
    }
}

.sobreNosotros{
    width: 50%;
    h2{
        padding-top: 20px;
        padding-bottom: 5em;
    }
    ul{
        list-style: none;
        padding: 2em;
    }
    p{
        text-align: center;
    }
}


.contact_form {
    width: auto;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #fbfbfb;

    input {
        background-color: #fbfbfb;
        width: 15rem;
        height: 40px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #292728;
        margin-top: 2px;
        padding-left: 10px;
        margin-bottom: 2px;
    }

    textarea {
        background-color: #fbfbfb;
        width: 300px;
        height: 150px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        margin-top: 2px;
        padding-left: 10px;
        margin-bottom: 2px;
        padding-top: 1px;
    }

    label {
        display: block;
        float: center;
    }

    button {
        height: 45px;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 2px;
        margin-top: 1px;
        text-transform: uppercase;
        background-color: black;
        border-color: #d4a1a1;
        border-style: solid;
        border-radius: 10px;
        width: 420px;
        cursor: pointer;
    }


    button p {
        color: #fff;
    }


    span {
        color: #020202;
    }


    .aviso {
        font-size: 13px;
        color: #0e0e0e;
    }



    h3 {
        font-size: 16px;
        padding-bottom: 30px;
        color: #0e0e0e;
    }


    p {
        font-size: 14px;
        color: #0e0e0e;
    }
}