* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* MEDIDA DE LETRAS */
h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #fd1532;
  font-family: 'Creepster', cursive;
  font-size: 5rem;
  letter-spacing: 10px;
  text-align: center;
  padding-top: 30px;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  text-shadow: 5px 5px 5px #bbff00;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h2 {
  color: #fd1532;
  font-family: 'Rampart One', cursive;
  text-shadow: 5px 5px 5px #353535;
  text-align: center;
}

h3 {
  color: #006eff;
  font-family: 'Monoton', cursive;
  text-shadow: 5px 5px 5px #9e9797;
  text-align: center;
  margin-top: 10%;
}

/* HEADER */
a {
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;
  color: black;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-image: -webkit-gradient(linear, right top, left top, from(red), to(blue));
  background-image: linear-gradient(to left, red, blue);
  background-size: cover;
  background-position: center;
  width: auto;
  height: 100%;
}

header .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 100%;
}

header .menuH {
  width: 100%;
  height: 100%;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0 80px;
}

header ul {
  margin-right: 30px;
  -webkit-transition: transform(1s), transform(1s);
  transition: transform(1s), transform(1s);
  transition: transform(1s);
}

header ul :hover {
  -webkit-transform: translate(0.5em);
          transform: translate(0.5em);
}

header nav a:hover {
  color: green;
}

header ul li {
  position: relative;
  margin: 3%;
  margin-top: 10%;
}

header ul ul {
  position: absolute;
  color: white;
  display: none;
}

header ul ul li a {
  font-size: 1rem;
  color: white;
  -webkit-transition: none;
  transition: none;
}

header ul li:hover ul {
  color: white;
  display: inline-block;
}

@media only screen and (max-width: 800px) {
  header {
    background-color: aqua;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    font-size: 3rem;
  }
}

/* CUERPO */
body {
  background-color: black !important;
  margin: 0;
}

/* CUERPO HOME */
.section__tituloTiendaHome {
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
}

.section__tituloTiendaHome .section__tituloTiendaHome--color {
  color: white;
}

.section__tituloTiendaHome .proximamente {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background-color: #000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__tituloTiendaHome img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: 2s;
  transition: 2s;
}

.section__tituloTiendaHome img:hover {
  -webkit-transform: rotatey(160deg);
          transform: rotatey(160deg);
}

.proximamente__cajasTienda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5%;
  border: 5px solid red;
}

.proximamente__cajasTienda .videoH {
  width: 50%;
  height: 20em;
  margin: 4%;
  border: 3px solid blue;
}

.proximamente__cajasTienda--color {
  color: white;
}

.proximamente__cajasTienda--color1 {
  color: yellow;
}

.proximamente__cajasTienda--color2 {
  color: green;
}

.proximamente__cajasTienda--color3 {
  color: red;
}

.proximamente__cajasTienda--color4 {
  color: orange;
}

.proximamente__cajasTienda--color5 {
  color: paleturquoise;
}

.ofertas__home--card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 95%;
  padding-bottom: 1rem;
}

.ofertas__home--card .card {
  width: 400px;
  text-align: center;
}

.ofertas__home--card .card .card-text {
  color: blue;
}

/* condicionales ofertas */
.ofertas__home {
  background-color: blue;
}

.ofertas__home .cero {
  color: red;
  text-align: center;
}

/* fin condicionales ofertas */
/* bucles */
.bucles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bucle-1 {
  width: 15rem;
  border: red;
  background-color: #ab2e2e;
  text-align: center;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20px;
}

.bucle-1 i {
  font-size: 30px;
}

.bucle-2 {
  width: 15rem;
  border: red;
  background-color: #cc4040;
  text-align: center;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20px;
}

.bucle-2 i {
  font-size: 30px;
}

.bucle-3 {
  width: 15rem;
  border: red;
  background-color: #d76868;
  text-align: center;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20px;
}

.bucle-3 i {
  font-size: 30px;
}

.ps4-logo,
.nw-logo {
  height: 400px;
  width: 500px;
  border: 2px solid black;
}

.ps4-logo {
  background-image: url("./imagen/ps4.png");
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.nw-logo {
  background-image: url("./imagen/nw.png");
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.novedades {
  width: 5rem;
  height: auto;
}

.btn--red1 {
  background-color: red;
  width: 200px;
  height: 10rem;
  border: white solid 2px;
  text-align: center;
}

.btn--red2 {
  background-color: red;
  width: 200px;
  height: 10rem;
  border: white solid 2px;
  text-align: center;
}

.btn--red3 {
  background-color: red;
  width: 450px;
  height: 10rem;
  border: white solid 2px;
  text-align: center;
}

.btn--red3 {
  background-image: url(./imagen/x1.jpg);
  background-size: cover;
  background-position: center;
}

/*pagina de Nintendo Switch*/
@media only screen and (max-width: 800px) {
  h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    font-size: 1rem;
  }
  .portadaNw img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
  }
}

.nintendoSwitchPortada {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.nintendoSwitchPortada h1 {
  margin: 1%;
}

.nintendoSwitchPortada img {
  -webkit-transform: rotatey(180deg);
          transform: rotatey(180deg);
}

.nintendoSwitchPortada img:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.cardH {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20%;
  text-align: center;
}

.cardH .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 5%;
}

/* PS4 */
.bodyPs4 {
  height: 100%;
  width: 100%;
}

.fondoTiendaPs4 {
  background-color: black;
  padding-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fondoTiendaPs4 .cardPs4 {
  background-image: -webkit-gradient(linear, right top, left top, from(#a7a0a0), to(#242425));
  background-image: linear-gradient(to left, #a7a0a0, #242425);
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.galeriaPs4 {
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.galeriaPs4 .contenedorPs4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 2fr;
      grid-template-columns: 2fr 2fr 2fr;
  grid-auto-rows: 250px;
  padding: 10%;
  width: 100%;
  height: 100%;
  place-content: stretch;
}

.galeriaPs4 .contenedorPs4 .contenedorPs4__item {
  background-color: red;
  justify-items: center;
  min-width: 100%;
  min-height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.galeriaPs4 .contenedorPs4 .contenedorPs4__item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.galeriaPs4 .contenedorPs4 .contenedorPs4__item--item1 {
  background-image: url(./galeriaps4/streetfightergaleria.jpg);
  background-position: center;
  background-size: cover;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  height: 20rem;
}

.galeriaPs4 .contenedorPs4 .contenedorPs4__item--item2 {
  background-image: url(./galeriaps4/jumpforcegaleria.jpg);
  background-size: cover;
  background-position: center;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}

.galeriaPs4 .contenedorPs4 .contenedorPs4__item--item3 {
  background-image: url(./galeriaps4/450_1000.jpg);
  background-size: cover;
  background-position: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.galeriaPs4 .contenedorPs4 .contenedorPs4__item--item4 {
  background-image: url(./galeriaps4/logoplay.png);
  background-position: center;
  background-size: cover;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

.galeriaPs4 .contenedorPs4 .contenedorPs4__item--item5 {
  background-image: url(./galeriaps4/call.jpg);
  background-position: center;
  background-size: cover;
}

.galeriaPs4 .contenedorPs4 .contenedorPs4__item--item6 {
  background-image: url(./galeriaps4/farcryportada.webp);
  background-size: cover;
  background-position: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

/*PAGINA PS5*/
@media only screen and (max-width: 800px) {
  h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    font-size: 1rem;
  }
  .ps5Portada img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
  }
  .contenidoPs5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.ps5Portada {
  background-color: black;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fondoTiendaPs5 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: black;
  padding-top: 10%;
}

.fondoTiendaPs5 .contenidoPs5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5%;
}

.fondoTiendaPs5 .contenidoPs5 .carruselPs5 {
  margin: 10%;
  background-image: -webkit-gradient(linear, right top, left top, from(#a7a0a0), to(#bad836));
  background-image: linear-gradient(to left, #a7a0a0, #bad836);
  text-align: center;
}

/*SECTOR DE FOOTER*/
.iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.iconos i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  font-size: 3rem;
  padding: 5%;
  text-shadow: 5px 5px 5px #aa7423;
}

.contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(./imagen/fire11.jpg);
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.contact_form {
  width: auto;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
}

.contact_form input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #292728;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

.contact_form textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

.contact_form label {
  display: block;
  float: center;
}

.contact_form button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #ff0000;
  border-color: #d4a1a1;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}

.contact_form button p {
  color: #fff;
}

.contact_form span {
  color: #020202;
}

.contact_form .aviso {
  font-size: 13px;
  color: #0e0e0e;
}

.contact_form h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e;
}

.contact_form p {
  font-size: 14px;
  color: #0e0e0e;
}
/*# sourceMappingURL=estilo.css.map */