* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* MEDIDA DE LETRAS */
.btn-wsp {
  position: fixed;
  margin-bottom: 5px;
  width: 70px;
  height: 70px;
  line-height: 55px;
  bottom: 30px;
  right: 25px;
  background: green;
  color: white;
  border-radius: 50px;
  text-align: center;
  font-size: 40px;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.btn-wsp:hover {
  text-decoration: none;
  color: green;
  background: white;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #fd1532;
  font-family: 'Creepster', cursive;
  font-size: 5rem;
  letter-spacing: 10px;
  text-align: center;
  padding-top: 30px;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  text-shadow: 5px 5px 5px #bbff00;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h2 {
  color: black;
  font-family: 'Rampart One', cursive;
  text-shadow: 5px 5px 5px #353535;
  text-align: center;
}

h3 {
  color: black;
  font-family: 'Monoton', cursive;
  text-shadow: 5px 5px 5px #9e9797;
  text-align: center;
  margin-top: 10%;
}

/* HEADER */
a {
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;
  color: black;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /* background-image: linear-gradient(to left, red, blue); */
  background-color: #3caa98;
  background-size: cover;
  background-position: center;
  width: auto;
  height: 100%;
}

header .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 100%;
}

header .menuH {
  width: 100%;
  height: 100%;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0 80px;
}

header ul {
  margin-right: 30px;
  -webkit-transition: transform(1s), transform(1s);
  transition: transform(1s), transform(1s);
  transition: transform(1s);
}

header ul :hover {
  -webkit-transform: translate(0.5em);
          transform: translate(0.5em);
}

header nav a:hover {
  color: green;
}

header ul li {
  position: relative;
  margin: 3%;
  margin-top: 10%;
}

header ul ul {
  position: absolute;
  color: white;
  display: none;
}

header ul ul li a {
  font-size: 1rem;
  color: white;
  -webkit-transition: none;
  transition: none;
}

header ul li:hover ul {
  color: white;
  display: inline-block;
}

.nav-link {
  color: white;
}

@media only screen and (max-width: 800px) {
  header {
    background-color: #3caa98;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    font-size: 3rem;
  }
}

/* CUERPO */
body {
  background-color: blanchedalmond;
  margin: 0;
  background-image: cover;
}

/* HOME  */
body {
  height: 100%;
  width: 100%;
}

.tituloVenta {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #c9c8c8;
}

.venta_consolas h3 {
  padding-top: 20px;
  padding-bottom: 30px;
  color: black;
}

.venta_consolas-nintendo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.venta_consolas-nintendo .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding-top: 50px;
  width: 25em;
  margin-bottom: 20px;
}

.venta_consolas-ps4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.venta_consolas-ps4 .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding-top: 100px;
  width: 25em;
  margin-bottom: 20px;
}

.venta_consolas-ps5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.venta_consolas-ps5 .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding-top: 50px;
  width: 25em;
  margin-bottom: 20px;
}

.venta_consolas-xbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.venta_consolas-xbox .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding-top: 50px;
  width: 25em;
  margin-bottom: 20px;
}

.venta_juegos {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffa8a8), to(white));
  background-image: linear-gradient(#ffa8a8, white);
}

.venta_juegos h3 {
  padding-top: 20px;
  padding-bottom: 30px;
}

.venta_juegos .venta_juegos-NW {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffa8a8), to(white));
  background-image: linear-gradient(#ffa8a8, white);
}

.venta_juegos .venta_juegos-NW .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding-top: 50px;
  width: 15em;
  margin-bottom: 20px;
  width: 20em;
  height: 23em;
}

.venta_juegos .venta_juegos-ps4 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6d6dff), to(white));
  background-image: linear-gradient(#6d6dff, white);
}

.venta_juegos .venta_juegos-ps4 .card_juegos-ps4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.venta_juegos .venta_juegos-ps4 .card_juegos-ps4 .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding-top: 50px;
  margin-bottom: 20px;
  width: 20em;
  height: 29em;
}

.venta_juegos .venta_juegos-ps5 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fffab9), to(white));
  background-image: linear-gradient(#fffab9, white);
}

.venta_juegos .venta_juegos-ps5 .card_juegos-ps5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.venta_juegos .venta_juegos-ps5 .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding-top: 50px;
  margin-bottom: 20px;
  width: 20em;
  height: 35em;
}

.venta_accesorios-gaming {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a8a8a8), to(white));
  background-image: linear-gradient(#a8a8a8, white);
}

.venta_accesorios-gaming h3 {
  padding-top: 20px;
  padding-bottom: 30px;
}

.venta_accesorios-gaming .venta_electronica {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.venta_accesorios-gaming .venta_electronica .rounded-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding-top: 50px;
  margin-bottom: 20px;
  width: 15em;
  height: 20em;
}

.venta_electronica .rounded-circle:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

/* FIN HOME */
/*pagina de Nintendo Switch*/
@media only screen and (max-width: 800px) {
  h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    font-size: 1rem;
  }
  .portadaNw img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
  }
}

.nintendoSwitchPortada {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.nintendoSwitchPortada h1 {
  margin: 1%;
}

.nintendoSwitchPortada img {
  -webkit-transform: rotatey(180deg);
          transform: rotatey(180deg);
}

.nintendoSwitchPortada img:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.nintendo_venta {
  background-color: #e4aeae;
}

.nintendo_venta h3 {
  padding-top: 20px;
}

.cardH {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 5%;
  text-align: center;
}

.cardH .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 5%;
}

/* juegos */
.bodyPs4 {
  height: 100%;
  width: 100%;
}

.menuJuegos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menuJuegos a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 50%;
}

.menuJuegos a:hover {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-filter: sepia();
          filter: sepia();
}

.fondoTiendaPs4 {
  background-color: #bebebe;
  padding-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fondoTiendaPs4 .cardPs4 {
  background-image: -webkit-gradient(linear, right top, left top, from(#a7a0a0), to(#242425));
  background-image: linear-gradient(to left, #a7a0a0, #242425);
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  padding: 10px;
}

.fondoTiendaPs4 .cardPs4 .card {
  margin: 10px;
}

.galeriaPs4 {
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.galeriaPs4 .contenedorPs4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 2fr;
      grid-template-columns: 2fr 2fr 2fr;
  grid-auto-rows: 250px;
  padding: 10%;
  width: 100%;
  height: 100%;
  place-content: stretch;
}

.galeriaPs4 .contenedorPs4 .contenedorPs4__item {
  background-color: red;
  justify-items: center;
  min-width: 100%;
  min-height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.galeriaPs4 .contenedorPs4 .contenedorPs4__item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.galeriaPs4 .contenedorPs4 .contenedorPs4__item--item1 {
  background-image: url(./galeriaps4/streetfightergaleria.jpg);
  background-position: center;
  background-size: cover;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  height: 20rem;
}

.galeriaPs4 .contenedorPs4 .contenedorPs4__item--item2 {
  background-image: url(./galeriaps4/jumpforcegaleria.jpg);
  background-size: cover;
  background-position: center;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}

.galeriaPs4 .contenedorPs4 .contenedorPs4__item--item3 {
  background-image: url(./galeriaps4/450_1000.jpg);
  background-size: cover;
  background-position: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.galeriaPs4 .contenedorPs4 .contenedorPs4__item--item4 {
  background-image: url(./galeriaps4/logoplay.png);
  background-position: center;
  background-size: cover;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

.galeriaPs4 .contenedorPs4 .contenedorPs4__item--item5 {
  background-image: url(./galeriaps4/call.jpg);
  background-position: center;
  background-size: cover;
}

.galeriaPs4 .contenedorPs4 .contenedorPs4__item--item6 {
  background-image: url(./galeriaps4/farcryportada.webp);
  background-size: cover;
  background-position: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

/*PAGINA PS5*/
/* @media only screen and (max-width:800px) {
    h1 {
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: 1rem;
    }

    .ps5Portada img {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
    }

    .contenidoPs5 {
        display: flex;
        justify-content: center;



    }

} */
.ps5 {
  width: 100%;
  background-color: black;
}

.ps5 .ps5Portada {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

.ps5 .ps5Portada img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.fondoTiendaPs5 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: black;
  padding-top: 10%;
}

.fondoTiendaPs5 .contenidoPs5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5%;
}

.fondoTiendaPs5 .contenidoPs5 .carruselPs5 {
  margin: 10%;
  background-image: -webkit-gradient(linear, right top, left top, from(#a7a0a0), to(#bad836));
  background-image: linear-gradient(to left, #a7a0a0, #bad836);
  text-align: center;
}

/* --SECCION ---CONSOLAS */
.venta_consolas-all h3 {
  padding-top: 20px;
  padding-bottom: 30px;
  color: black;
}

.venta_consolas-nintendo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.venta_consolas-nintendo .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding-top: 50px;
  width: 25em;
  margin-bottom: 20px;
}

.venta_consolas-ps4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.venta_consolas-ps4 .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding-top: 100px;
  width: 25em;
  margin-bottom: 20px;
}

.venta_consolas-ps5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.venta_consolas-ps5 .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding-top: 50px;
  width: 25em;
  margin-bottom: 20px;
}

.venta_consolas-xbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.venta_consolas-xbox .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding-top: 50px;
  width: 25em;
  margin-bottom: 20px;
}

/* --FIN --CONSOLAS */
/* --SECCION DE ACCESORIOS-- */
.venta_accesorios {
  background-color: white;
  padding-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.venta_accesorios .venta_accesorios-auriculares {
  background-image: -webkit-gradient(linear, right top, left top, from(#a7a0a0), to(#242425));
  background-image: linear-gradient(to left, #a7a0a0, #242425);
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.venta_accesorios .venta_accesorios-auriculares .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
  margin: 20px;
  width: 30em;
  height: 30em;
}

.venta_accesorios .venta_accesorios-auriculares .card img {
  height: 10em;
}

.venta_accesorios .venta_accesorios-camaras {
  background-image: -webkit-gradient(linear, right top, left top, from(#a7a0a0), to(#242425));
  background-image: linear-gradient(to left, #a7a0a0, #242425);
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.venta_accesorios .venta_accesorios-camaras .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
  margin: 20px;
  width: 30em;
  height: 30em;
  text-align: center;
}

.venta_accesorios .venta_accesorios-camaras .card img {
  height: 15em;
}

.venta_accesorios .venta_accesorios-microfonos {
  background-image: -webkit-gradient(linear, right top, left top, from(#a7a0a0), to(#242425));
  background-image: linear-gradient(to left, #a7a0a0, #242425);
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.venta_accesorios .venta_accesorios-microfonos .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
  margin: 20px;
  width: 35em;
  height: 30em;
}

.venta_accesorios .venta_accesorios-microfonos .card img {
  height: 15em;
}

.venta_accesorios .venta_accesorios-mouse {
  background-image: -webkit-gradient(linear, right top, left top, from(#a7a0a0), to(#242425));
  background-image: linear-gradient(to left, #a7a0a0, #242425);
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.venta_accesorios .venta_accesorios-mouse .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
  margin: 20px;
  width: 35em;
  height: 32em;
}

.venta_accesorios .venta_accesorios-mouse .card img {
  height: 15em;
}

.venta_accesorios .venta_accesorios-parlantes {
  background-image: -webkit-gradient(linear, right top, left top, from(#a7a0a0), to(#242425));
  background-image: linear-gradient(to left, #a7a0a0, #242425);
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.venta_accesorios .venta_accesorios-parlantes .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
  margin: 20px;
  width: 30em;
  height: 30em;
}

.venta_accesorios .venta_accesorios-parlantes .card img {
  height: 15em;
}

.venta_accesorios .venta_accesorios-teclados {
  background-image: -webkit-gradient(linear, right top, left top, from(#a7a0a0), to(#242425));
  background-image: linear-gradient(to left, #a7a0a0, #242425);
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.venta_accesorios .venta_accesorios-teclados .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
  margin: 30px;
  width: 30em;
  height: 30em;
}

.venta_accesorios .venta_accesorios-teclados .card img {
  height: 15em;
}

.venta_accesorios img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

/* --FIN --SECCION DE ACCESORIOS--*/
/*SECTOR DE FOOTER*/
.iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: none;
}

.iconos i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  font-size: 3rem;
  padding: 5%;
  text-shadow: 5px 5px 5px black;
}

.contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #3caa98;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

hr {
  width: 50%;
  margin: auto;
}

.itemFooter h2 {
  color: black;
  font-family: 'Rampart One', cursive;
  text-shadow: 5px 5px 5px #353535;
  text-align: center;
  padding: 20px;
}

.footer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.formularioFooter {
  width: auto;
}

.formularioFooter h2 {
  padding-top: 20px;
}

.sobreNosotros {
  width: 50%;
}

.sobreNosotros h2 {
  padding-top: 20px;
  padding-bottom: 5em;
}

.sobreNosotros ul {
  list-style: none;
  padding: 2em;
}

.sobreNosotros p {
  text-align: center;
}

.contact_form {
  width: auto;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
}

.contact_form input {
  background-color: #fbfbfb;
  width: 15rem;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #292728;
  margin-top: 2px;
  padding-left: 10px;
  margin-bottom: 2px;
}

.contact_form textarea {
  background-color: #fbfbfb;
  width: 300px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-top: 2px;
  padding-left: 10px;
  margin-bottom: 2px;
  padding-top: 1px;
}

.contact_form label {
  display: block;
  float: center;
}

.contact_form button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 2px;
  margin-top: 1px;
  text-transform: uppercase;
  background-color: black;
  border-color: #d4a1a1;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}

.contact_form button p {
  color: #fff;
}

.contact_form span {
  color: #020202;
}

.contact_form .aviso {
  font-size: 13px;
  color: #0e0e0e;
}

.contact_form h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e;
}

.contact_form p {
  font-size: 14px;
  color: #0e0e0e;
}
/*# sourceMappingURL=estilo.css.map */